.popup-edit {
    background-color: white;
    height: 90%;
    width: 90%;
    display: block;
    padding: 5px;
    border-radius: 5px;
}

.popup-pdf {
    background-color: white;
    height: 85%;
    width: 90%;
    display: block;
    padding: 5px;
    border-radius: 5px;
}

.popup-img {
    background-color: white;
    height: 85%;
    width: 90%;
    display: block;
    padding: 5px;
    border-radius: 5px;
    overflow:auto;
}


.popup-iframe {
    height: 85%;
    width: 95%;
    margin-left:2%;
    padding: 5px;
    border-radius: 5px;
}

